$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

#map {
  height: 500px;
  display: inline;
  min-width: 75%;
}

.mapListDiv {
  height: 500px;
  display: inline;
  min-width: 15%;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
